# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# Logs
*.log

# Editor
.vscode/
.idea/

# Build / cache
dist/
build/
.cache/

# Node
node_modules/
